# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Code files
[*.{js,ts,json,html,css,md,yml,yaml}]
indent_style = space
indent_size = 2

# TypeScript and JavaScript
[*.{js,ts}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# HTML files
[*.html]
indent_style = space
indent_size = 2

# CSS files
[*.css]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Makefiles
[Makefile]
indent_style = tab

# Package.json files
[package*.json]
indent_style = space
indent_size = 2

# Minified files (don't touch)
[*.min.{js,css}]
insert_final_newline = false
trim_trailing_whitespace = false

